.header{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;

}

.header__logo{
    margin-left: 4rem;
}

.navbar{
    margin: 0 auto;
}

ul{
    display: flex;
    li{
        list-style: none;
        margin: 1.2rem;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: #000;

            &:hover {
                border-bottom: 3px solid red;
            }

        }
    }
}

.changer {
    display: flex;
    margin-right: 1.5rem;
    .menu {
        cursor: pointer;
        margin-right: 1rem;
        display: none;
    }
}

.closed{
.close {
    display: none;
}
}